@media screen and (max-width: 600px) {
    .contact-info {
        grid-template-columns: 1fr;
        margin-bottom: 32px;
    }

    .contact-form {
        grid-template-columns: 1fr;
        grid-template-areas: 'title''form''map';
    }

    .contact-form__btn {
        width: 100%;
    }

    .contact-form__map {
        height: 270px;
    }
}