.category__block {
    display: flex;
    flex-direction: column;
    width: var(--content-area-width);
}

.category__main {
    display: flex;
    flex-direction: column;
}

.heading {
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-heading);
}

.category__study {
    list-style-type: '';
}

.category__price {
    display: flex;
    flex-direction: column;
}

