.container {
    max-width: var(--width-container);
    margin: 0 auto;
    padding: var(--main-padding);
}

.nav-footer {
    display: flex;
    gap: var(--space-4x);
    justify-content: center;
    /* grid-template-columns: repeat(7, 1fr);
    grid-column-gap: var(--space-4x); */
}

.advertisement-banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}
