.main-title {
    color: var(--color-white);
    background-color: var(--light-background);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--dark-background);
    font-size: 85px;
    font-weight: var(--font-weight-container-title);
    margin: var(--space-8x) 0;
    text-transform: uppercase;
}

.section .light-background {
    overflow: hidden;
}

.main {
    display: grid;
    grid-template-columns: 60% 1fr;
}

.main__logo {
    position: relative;
    right: -170px; 
}

.main__bottom {
    text-align: center;
    p  {
        margin: 0;
    }
}

.scroll {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .main-title {
        font-size: var(--font-size-subtitle);
    }

    .main__text {
        font-size: 13px;
    }

    .main {
        display: grid;
        grid-template-columns: 1fr;
    }  

    .main__logo img {
        position: relative;
        right: 0px;
    }
}

/* position: absolute;
    height: 100px;
    width: 100px;
    border: var(--border-gray);
    border-radius: 50%;
    top: 0;
    transform: translate(0, -50%);
    z-index: 1;
    background-color: var(--light-background);
    overflow: hidden;
     */