.main-banner__block {
    display: flex;
    flex-direction: column;
}

.main-heading {
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-heading);
    color: white; /* Цвет текста */
    text-shadow: 
      -1px -1px 0 #000,  
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000;
}

.main-banner__info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

