.teachers {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
}

.teachers > .card {
    position: relative;
    border: var(--border-gray);
    border-radius: 10px;
    padding: 75px 16px;
}

.teachers > .card > .card__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100px;
    width: 100px;
    border: var(--border-gray);
    border-radius: 50%;
    top: 0;
    transform: translate(0, -50%);
    z-index: 1;
    background-color: var(--light-background);
    overflow: hidden;
}

.teachers > .card > .card__name {
    margin-bottom: 32px;
    font-weight: var(--font-weight-subtitle);
}

.teachers > .card > .card__info .title {
    font-size: var(--font-size-additional);
    font-weight: var(--font-weight-additional);
}

.teachers__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--space-4x);
}

@media screen and (max-width: 768px) {
        .teachers {
        display: grid;
        grid-template-columns: 1fr;
    }

    .teachers > .card {
        padding: 75px 12px;
    }

    .teachers .card:nth-child(2) {
        display: none;
    }    

    .teachers__btn {
        display: flex;
        flex-direction: column-reverse;
        gap: var(--space-2x);
    }
}