* {
    font-family: var(--font-family-global);
}

body {
    margin: 0;
}

/* Стиль для списка */

li {
    list-style-type: none;
}

.list {
    list-style-type: none;
    padding-inline-start: unset;
}

.item {
    position: relative;
    padding-left: 16px;
    margin-bottom: 16px;
    font-size: var(--font-size-additional);
    font-weight: var(--font-weight-light-additional);
}

.item:before {
    content: '';
    width: 6px;
    height: 6px;
    transform: rotate(45deg) translate(-50%, -50%);
    background-color: var(--color-red);
    display: block;
    position: absolute;
    left: 3px;
    top: 50%;
}

/* ------------------------------------- */

.dark-background {
    background-color: var(--dark-background);
    color: var(--color-white-additional);
}

.dark-background .container-title {
    color: var(--dark-background);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--color-white-additional);
}

.dark-background a {
    text-decoration: none;
    color: var(--color-white);
}

.light-background .container-title {
    color: var(--color-white);
    background-color: var(--light-background);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--dark-background);
}

.container-title { 
    font-size: var(--font-size-container-title);
    font-weight: var(--font-weight-container-title);
    margin: var(--space-8x) 0;
    text-transform: uppercase;
}

.container-subtitle {
    font-size: var(--font-size-subtitle);
    font-weight: var(--font-weight-subtitle);
    text-transform: uppercase;
}

.container {
    max-width: var(--width-container);
    margin: 0 auto;
    padding: var(--main-padding);
    font-size: var(--font-size-main);
}

button {
    justify-self: end;
    padding: var(--space-4x) var(--space-10x);
    border-radius: 5px;
    font-weight: var(--font-weight-additional);
    border: 1px solid;
    font-size: var(--font-size-main);
}

input {
    padding: var(--space-4x) var(--space-10x) var(--space-4x) var(--space-4x);
    box-sizing: border-box;
    border: 1px solid rgb(188, 188, 188);
    border-radius: calc(var(--space) + 1px);
    width: 100%;
    font-size: var(--font-size-additional);
}

span.bold {
    font-weight: var(--font-weight-additional);
}

@media screen and (max-width: 600px) {
    .container {
        padding: var(--space-12x) var(--space-3x);
    }
    
    .container-title {
        font-size: 30px;        
    }

    .container-subtitle {
        font-size: 20px;
    }
}